.second-section {
  padding: 150px 0 154px 0;
}
.second-wrapper {
  position: relative;
  display: flex;
  gap: 80px;
}
.second-section-title {
  max-width: 391px;
  font-weight: 700;
  font-size: 50px;
  font-family: "Quicksand";
  letter-spacing: 0px;
  color: #2f281e;
  margin-bottom: 55px;
}

.start-box{
  position: relative;
}

.startbox-items {
  padding-top: 8px;
  margin-bottom: 21.5px;
}

.secondbox-textbox{
  position: relative;
  margin-left: 115px;
}

.secondbox-textbox::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -115px;
  width: 95px;
  height: 95px;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondbox-textbox.custom-bg-1::after {
  background-image: url("../../assets/icons/dynamic.png");
}

.secondbox-textbox.custom-bg-2::after {
  background-image: url("../../assets/icons/after2.png");
}
.secondbox-textbox.custom-bg-3::after {
  background-image: url("../../assets/icons/after3.png");
}
.secondbox-textbox.custom-bg-4::after {
  background-image: url("../../assets/icons/after4.png");
}
.secondbox-textbox.custom-bg-5::after {
  background-image: url("../../assets/icons/after5.png");
}
.secondbox-textbox.custom-bg-6::after {
  background-image: url("../../assets/icons/after6.png");
}
.startbox-items:hover {
  background-color: #fbf5ff;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.start-box-title {
  width: 476px;
  height: 33px;
  font-size: 24px;
  font: normal normal 600 24px/32px 'Nunito sans';
  color: #2F281E;
  opacity: 1;
}

.start-box-description {
  width: 414px;
  height: 90px;
  font: normal normal 400 18px/26px 'Nunito Sans';
  letter-spacing: 0px;
  color: #2F281E;
  opacity: 0.6;
}


.end-box {
  position: relative;
}
.become {
  text-align: left;
  font: normal normal normal 24px/38px Nunito Sans;
  letter-spacing: 0px;
  color: #2f281e;
  padding-bottom: 7px;
}

.border {
  display: inline-block;
  width: 93px;
  height: 6px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-image: linear-gradient(180deg, #4bb665 0%, #41aad2 100%);
  border-radius: 15px;
  margin-bottom: 7px;
}

.endbox-title {
  width: 324px;
  color: #2f281e;
  text-align: left;
  font: normal normal bold 48px/60px 'Quicksand';
  letter-spacing: 0px;
  color: #2f281e;
  margin-bottom: 82px;
}
.endbox-first-img {
  width: 355px;
  height: 436px;
}
.endbox-second-img {
  position: absolute;
  width: 221px;
  height: 223px;
  top: 150px;
  right: -272px;
}

.endbox-thriths-img {
  position: absolute;
  z-index: -15;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 372px;
  height: 399px;
  top: 451px;
  left: 269px;
}


