.header {
  position: relative;
  padding: 36px 0;
  background-color: #ebd0ff3d;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigate-box {
  display: flex;
  align-items: center;
}
.img-logo {
  position: absolute;
  color: #41aad2;
  top: 18px;
}
.navigate-list {
  display: flex;
  align-items: center;
}

.navigate-about {
  margin-right: 62px;
  position: relative;
  color: #2f281e;
  font-size: 14px;
  font-weight: 400;
}

.navigate-item:nth-child(2) {
  margin-right: 31px;
  color: #2f281e;
  font-size: 14px;
  font-weight: 400;
}

.navigate-item:nth-child(3) {
  margin-right: 72px;
}
.navigate-item:nth-child(4) {
  margin-right: 31px;
}
.for-companies,
.about {
  color: #2f281e;
  font-size: 14px;
  font-weight: 500;
}
.about::after {
  position: absolute;
  top: 8px;
  right: -18px;
  content: "";
  background-image: url(../../assets/icons/25224.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 9px;
  height: 5px;
}
.login {
  color: #4bb665;
}
.sign-up {
  padding: 14px 36px 15px 36px;
  background-color: #4bb665;
  border-radius: 25px;
  color: #fff;
}

.language {
  padding: 14px 16px 15px 16px;
  border: 1px solid #4bb665;
  border-radius: 50%;
  color: #4bb665;
}

.navigate-item:nth-child(5) {
  margin-right: 68px;
}
.nav-list {
  display: none;
  align-items: center;
  flex-direction: column;
  width: 120px;
  background-color: rgba(228, 228, 228, 0.075);
  position: absolute;
  z-index: 1000;
  top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.103);
}

.nav-items {
  width: 117px;
  height: 19px;
  text-align: center;
  font: normal normal bold 14px/21px "Nunito";
  letter-spacing: 0px;
  color: #2f281e;
  opacity: 1;
  margin-bottom: 5px;
}

.nav-items:first-child {
  margin-top: 5px;
}

.nav-items:hover {
  color: #4bb665;
}
.navigate-about:hover .nav-list {
  display: block;
}



